<nav>
    <div class="nav-wrapper blue-grey ">
        <link href="/css/inside.css" rel="stylesheet" type="text/css">
        <a href="#" class="brand-logo"><i class="material-icons">supervisor_account</i>Profile </a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <!--<li><a href="badges.html">Components</a></li>-->
            <li><a href="/logout">Logout</a></li>


        </ul>
    </div>
</nav>
