<nav>
    <link href="/css/front.css" rel="stylesheet" type="text/css">
    <div class="nav-wrapper blue-grey ">
        <div class="w3-container">
        <a href="#" class="brand-logo"><i class="material-icons">work</i>JobBuzz</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
        </ul>
        </div>
    </div>
</nav>
