<!DOCTYPE html>
<html lang="en">
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>

<head>


    <title>JobBuzz</title>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBmXCmc_G2QX1eYue6IIXsYnBb-R8XQm6s&libraries=places"></script>
    <!--<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?libraries=places&sensor=false"></script>-->
    {{>head}}
</head>

<body>


    {{{body}}}


</body>
</html>
