<!DOCTYPE html>
<html lang="en">
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<head>
    <title>JobBuzz</title>
    {{>head}}
</head>

<body>
<!--{{>navbar}}-->

    {{{body}}}


</body>
</html>
