<!DOCTYPE html>
<html lang="en">
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<head>
    <style>
        body {

            /*background-image: url("../../public/img/306A0383.JPG");*/
            /*background-color: #cccccc;*/
        }
        #map {
            height: 300px;
            width: 100%;
        }
        #description {
        font-family: Roboto;
        font-size: 15px;
        font-weight: 300;
        }

        #infowindow-content .title {
        font-weight: bold;
        }

        #infowindow-content {
        display: none;
        }

        #map #infowindow-content {
        display: inline;
        }




    </style>

    <title>JobBuzz</title>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBmXCmc_G2QX1eYue6IIXsYnBb-R8XQm6s&libraries=places"></script>
    <!--<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?libraries=places&sensor=false"></script>-->
    {{>head}}
</head>

<body>
<!--{{>navbar}}-->

    {{{body}}}


</body>
</html>
