
{{>navbar}}


<div class="page-header">

            <div class ="row">
                <div class="col s8"></div>
                <div class="col s4">

            {{#if message.length }}
                <div class="alert alert-danger">{{message}}</div>
            {{/if}}
            <form method="post" action="/login">
                <p><input type="email" name="email" value="" placeholder="Email" required></p>
                <p><input type="password" name="password" value="" placeholder="Password" required></p>
               <div class="row">
                   <div class="col s4"></div>
                   <div class="col s8">
                <button type="submit" class="btn btn-warning btn-lg blue-grey">Login</button>
                   </div>
               </div>
            </form>
                    <div class="row">
                        <div class="col s3"></div>
                        <div class="col s9">
                            <h5>No Account?
                            <a href="/signup" >Register</a></h5>
                        </div>
                    </div>

            </div>
            </div>

</div>