
body {

    background-image: url('https://www.teamunify.com/css/pro/cust_stock_bg/technoWave_grey.jpg');
    /*background-position: center;*/
    background-size: cover;
    background-repeat: no-repeat;
    /*background-color: #cccccc;*/
}