
body {

    background-image: url('../img/technoWave_grey.jpg');

    /*background-position: center;*/
    background-size: cover;
    background-repeat: no-repeat;
    /*background-color: #cccccc;*/
}

